@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

html, body {
    background: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url("../assets/Background.png");
}

#container {
    min-height: 100%;
    background-color: #38B6FF;
    height: 2000px;
}

#main {
    overflow: auto;
    margin-bottom: 20px;
}

/*
-------------------
    FOOTER
-------------------
*/

#footer {
    background: white;
    border-top: #38B6FF solid 1px;
    color: black;
    padding: 20px;
    width: 100%;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
  }

#footer span {
    color: #38B6FF;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color: #38B6FF;
}

@media (max-width: 815px) {
    #footer {
        display: column;
        margin-bottom: 0;
    }
}

/*
-------------------
    NAVBAR
-------------------
*/

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    justify-content: space-between;
    align-items: center;
    color: black;
    z-index: 10;
}

.navbar.sticky {
    background-color: white;
    box-shadow: -4px -3px 15px 3px rgba(149, 149, 149, 0.35);
}

.brand-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.brand-links li {
    list-style: none;
}

.brand-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-right: 1em;
    display: block;
    font-size: large;
}

.brand-links li a:hover {
    text-decoration: none;
    color: #38B6FF;
    padding: 1rem;
    margin-right: 1em;
    display: block;
    font-size: large;
    transition: 0.4s;
}

.brand-title {
    margin: 1em 5em 1em 1em;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 815px) {
    .toggle-button {
        display: flex;
    }

    .brand-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-links ul {
        width: 100%;
        flex-direction: column;
    }

    .brand-links li {
        text-align: center;
    }

    .brand-links li a {
        padding: 1rem 1rem;
    }

    .brand-links.active {
        display: flex;
        background-color: white;
    }

    .navbar.nav-scroll {
        background-color: white;
        transition: 0s;
    }
}

/*
-------------------
    RANDOM
-------------------
*/

h1 {
    color: #175a81;
    padding: .5em;
}

h3 {
    color: black;
    padding: .5em;
}

h4 {
    color: #38B6FF;
    padding: .5em;
}

/*
-------------------
    HOME-PAGE
-------------------
*/

.content {
    height: 100vh;
    margin-top: 10rem;
}

.content #home-page {
    width: 40%;
    display: column;
    background-color: #f3fcff;
    margin: 3em;
    margin-left: 10em;
    padding: 2em;
    position: absolute;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
}

@media (max-width: 815px) {
    .content #home-page {
        text-align: center;
        justify-content: center;
    }
}