<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/logo.png') }}"/>
    <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
    <title>Appware</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <nav class="navbar">
                <div class="brand-title">
                    <a href="#"><img src="{{ url_for('static', filename='assets/appware.png') }}" width="200" height="50" alt=""></a>
                </div>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="brand-links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                    </ul>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <h3>&copy Copyright <a href="#"><span>Appware</span></a> | 2021 All Rights Reserved</h3>
    </div>
</body>
</html>
