@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html, body {
    background: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url("../assets/Background.png");
}

#container {
    min-height: 100%;
    background-color: #38B6FF;
    height: 2000px;
}

#main {
    overflow: auto;
    margin-bottom: 20px;
}

/*
-------------------
    FOOTER
-------------------
*/

#footer {
    background: white;
    border-top: #38B6FF solid 1px;
    color: black;
    padding: 20px;
    width: 100%;
    font-size: small;
    text-align: center;
  }

  #footer span {
    color: #38B6FF;
  }

  #footer a {
    text-decoration: none;
  }

  #footer a:hover {
    text-decoration: underline;
    color: #38B6FF;
  }
/*
-------------------
    NAVBAR
-------------------
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: -4px -3px 5px 5px rgba(0,0,0,0.35);
}

.brand-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.brand-links li {
    list-style: none;
}

.brand-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-right: 1em;
    display: block;
    font-size: large;
}

.brand-links li a:hover {
    text-decoration: none;
    color: #38B6FF;
    padding: 1rem;
    margin-right: 1em;
    display: block;
    font-size: large;
    transition: 0.4s;
}

.brand-title {
    margin: 1em 5em 1em 1em;
}


/*
-------------------
    RANDOM
-------------------
*/

h1 {
    color: black;
}

#home-page h3 {
    color: #38B6FF;
}

#home-page {
    height: 100vh;
    width: 100%;
}